@import "../../../../assets/styles/mixins.less";

.header-container {
  .container-space-between();
  align-items: center;
  background-color: @background-color;
  padding: 0 @size-padding-large;

  & h1 {
    .container-centered();
    width: 350px;
    margin: 0;
    padding: @size-padding-large;
  }

  & app-language-settings {
    .container-end();
    width: 350px;
    padding: 0 @size-padding-large;
  }

  & app-nav-tabs {
    width: 350px;
    align-self: end;
  }
}
