@import '../mixins.less';

app-edit-page,
app-view-page {
  flex: 2;
  min-height: 0;

  .page-container {
    .container-column();
    flex: 2;
    justify-content: space-between;
    padding: @size-padding-large;
    border-radius: 0 0 @size-padding @size-padding;
    min-height: 0;

    & app-edit-table,
    & app-view-table {
      flex: 2;
      background-color: @background-color;
      min-height: 0;
      overflow: hidden;
      border-radius: @size-padding-small;
      border: solid 1px @color-highlight;

      & p {
        color: @color-secondary;
        font-size: @font-size-large;
      }
    }
  }
}
