@import "../../../../assets/styles/mixins.less";

.page-container {
  & button {
    width: @width-large;
    margin: 0 auto @size-padding-large;
    box-shadow: @shadow-small;

    --tui-background-accent-1: #00b100;
    --tui-background-accent-1-hover: green;
    --tui-background-accent-1-pressed: #004500;

  }
}
