@import "../../../../assets/styles/mixins.less";

.page-container {
  & button {
    --tui-background-accent-1: @color-green-light;
    --tui-background-accent-1-hover: @color-green;
    --tui-background-accent-1-pressed: @color-green-dark;

    width: @width-xl;
    margin: 0 auto @size-padding-large;
    box-shadow: @shadow-small;
  }
}
