@import "../../../../assets/styles/mixins.less";

.page-container {
  .container-column();
  padding: @size-padding-large;
  border-radius: @size-padding;
  min-height: 0;

  & app-view-table {
    flex: 2;
    background-color: @background-color;
    min-height: 0;
    overflow: hidden;
    border-radius: @size-padding;
  }
}
