<ng-container *transloco="let t">
  <div class="dialog-container">
    <h2>{{ t('pages.edit.popupCreate.title') }}</h2>

    <form
      [formGroup]="elementBaseForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="container-column gap-large">
        <div class="container-column gap">
          <div class="container-column">
            <tui-textfield>
              <label
                for="name"
                tuiLabel
              >
                {{ t('element.name') }}
              </label>
              <input
                id="name"
                formControlName="name"
                tuiTextfield
              />
            </tui-textfield>
            <tui-error
              formControlName="name"
              [error]="([] | tuiFieldError | async) ? t('errors.required', { field: t('element.name') }) : null"
            />
          </div>

          <div class="container-column">
            <div class="container-space-between gap">
              <div class="container-column">
                <tui-textfield>
                  <label tuiLabel>{{ t('element.dueDate') }}</label>
                  <input
                    tuiInputDate
                    formControlName="dueDate"
                    [min]="minDate"
                  />
                  <tui-calendar *tuiTextfieldDropdown/>
                </tui-textfield>
              </div>

              <div class="container-column">
                <tui-textfield>
                  <label tuiLabel>{{ t('element.dueTime') }}</label>
                  <input
                    formControlName="dueTime"
                    tuiInputTime
                  />
                </tui-textfield>
              </div>
            </div>

            <tui-error
              [error]="elementBaseForm.hasError('pastDateTime') ? t('errors.futureDateTime') : null"
            />
            <tui-error
              formControlName="dueDate"
              [error]="([] | tuiFieldError | async) ? t('errors.required', { field: t('element.dueDate') }) : null"
            />
            <tui-error
              formControlName="dueTime"
              [error]="([] | tuiFieldError | async) ? t('errors.required', { field: t('element.dueTime') }) : null"
            />
          </div>

          <div class="container-column">
            <tui-textfield>
              <label tuiLabel>{{ t('element.description') }}</label>
              <textarea
                placeholder="{{ t('pages.edit.popupCreate.descriptionPlaceholder') }}"
                tuiTextarea
                formControlName="description"
              ></textarea>
            </tui-textfield>
            <tui-error
              formControlName="description"
              [error]="([] | tuiFieldError | async) ? t('errors.required', { field: t('element.description') }) : null"
            />
          </div>
        </div>

        <div class="container-end gap">
          <button
            type="button"
            [size]="'m'"
            appearance="flat-destructive"
            tuiButton
            (click)="closeDialog()"
          >
            {{ t('actions.cancel') }}
          </button>

          <button
            type="submit"
            [disabled]="!elementBaseForm.valid"
            [size]="'m'"
            appearance="primary"
            tuiButton
          >
            {{ t('actions.create.title') }}
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-container>
