@import "../assets/styles/mixins.less";

.wrapper-container {
  margin: auto;
  max-width: @width-max;
  min-height: 0;
  height: @height-max;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  box-sizing: border-box;

  .app-card {
    .container-space-between();
    background: @background-color;
    border: @border-width solid @color-highlight-darker;
    flex-direction: column;
    align-items: stretch;
    margin: auto;
    height: 90vh;
    box-shadow: @shadow;
    border-radius: @border-radius;
    overflow: hidden;
  }
}
