<ng-container *transloco="let t">
  <div class="table-container">
    @if (elements().length > 0) {
      <table
        tuiTable
        [size]="'m'"
      >
        <thead>
        <tr>
          <th tuiTh>
            {{ t('element.name') }}
          </th>
          <th tuiTh>
            {{ t('element.creation-date-full') }}
          </th>
          <th tuiTh>
            {{ t('element.due-date-full') }}
          </th>
        </tr>
        </thead>
        <tbody tuiTbody>
          @for (element of elements(); track element.id) {
            <tr (click)="showViewDialog(element)">
              <td tuiTd>
                {{ element.name }}
              </td>
              <td tuiTd>
                {{ element.creationDate | date:'d/MM/y, HH:mm' }}
              </td>
              <td tuiTd>
                {{ element.dueDate | date:'d/MM/y, HH:mm' }}
              </td>
            </tr>
          }
        </tbody>
      </table>
    } @else {
      <p>{{ t('errors.not-found') }}</p>
    }
  </div>
</ng-container>
