@import "../../../../assets/styles/mixins.less";

.table-container {
  .container-centered();
  overflow: auto;

  table {
    tr {
      border: none !important;
      transition: ease-in-out 0.3s;
      height: 70px;

      &:hover {
        cursor: pointer;
        background-color: @secondary-color-light;
      }
    }

    th:last-child,
    th:nth-last-child(2),
    td:last-child,
    td:nth-last-child(2) {
      text-align: center;
      width: 275px;
    }
  }
}
