<ng-container *transloco="let t">
  <div class="table-container">
    @if (elements().length > 0) {
      <table
        tuiTable
        [size]="'m'"
      >
        <thead>
        <tr>
          <th tuiTh>
            {{ t('element.name') }}
          </th>
          <th tuiTh>
            {{ t('element.creation-date-full') }}
          </th>
          <th tuiTh>
            {{ t('element.due-date-full') }}
          </th>
          <th tuiTh></th>
        </tr>
        </thead>
        <tbody tuiTbody>
          @for (element of elements(); track element.id) {
            <tr (click)="showViewDialog(element)">
              <td tuiTd>
                {{ element.name }}
              </td>
              <td tuiTd>
                {{ element.creationDate | date:'d/MM/y, HH:mm' }}
              </td>
              <td tuiTd>
                {{ element.dueDate | date:'d/MM/y, HH:mm' }}
              </td>
              <td tuiTd>
                <button
                  tuiButton
                  iconEnd="@tui.chevron-right"
                  tuiDropdownAlign="right"
                  type="button"
                  appearance="primary"
                  [disabled]="!canMoveUp(element.id) && !canMoveDown(element.id)"
                  [size]="'s'"
                  [tuiDropdown]="dropdownContent"
                  [tuiDropdownSided]="true"
                  [tuiDropdownManual]="currentlyOpenId === element.id"
                  [tuiObscuredEnabled]="currentlyOpenId === element.id"
                  (click)="onDropdownClick(element.id); $event.stopPropagation()"
                  (tuiActiveZoneChange)="onActiveZone($event)"
                  (tuiObscured)="onObscured($event)"
                >
                  {{ t('actions.move.option') }}
                  <ng-template #dropdownContent>
                    <div class="container-column">
                      @if (this.canMoveUp(element.id)) {
                        <button
                          tuiButton
                          iconEnd="@tui.move-up"
                          appearance="flat"
                          type="button"
                          [size]="'s'"
                          (click)="onMoveUp(element.id)"
                        >
                          {{ t('actions.move.up') }}
                        </button>
                      }
                      @if (this.canMoveDown(element.id)) {
                        <button
                          tuiButton
                          iconEnd="@tui.move-down"
                          appearance="flat"
                          type="button"
                          [size]="'s'"
                          (click)="onMoveDown(element.id)"
                        >
                          {{ t('actions.move.down') }}
                        </button>
                      }
                    </div>
                  </ng-template>
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    } @else {
      <p>{{ t('errors.not-found') }}</p>
    }
  </div>
</ng-container>
