// Colors
@background-color: #ffffff;
@color-shadow: #f8f8f8;

@color-secondary: #484a48;
@color-secondary-dark: #000000;

@color-highlight-lighter: #dee8ff;
@color-highlight-light: #b3c9ff;
@color-highlight: #516dd1;
@color-highlight-dark: #2e4ab0;
@color-highlight-darker: #1c2e73;

@color-green-light: #00b100;
@color-green: green;
@color-green-dark: #004500;

// Transition
@transition: ease-in-out 0.3s;

// Shadows
@shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
@shadow-small: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.3);

// Sizes
@width-max: 1200px;
@height-max: 100vh;

@width-xs: 200px;
@width-s: 275px;
@width-m: 300px;
@width-l: 350px;
@width-xl: 500px;

@size-padding-small: 8px;
@size-padding: 16px;
@size-padding-large: 32px;

@font-size-small: 14px;
@font-size: 16px;
@font-size-large: 26px;

@border-width: 1px;

@border-radius: 10px;
