// Colors
@primary-color: #141514;
@secondary-color: #484a48;
@secondary-color-dark: #3B3D3B;
@highlight-color: #1f8405;
@highlight-color-light: #d9facd;
@background-color: #faf9f8;

// Shadows
@shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
@shadow-small: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.3);

// Sizes
@max-width: 1200px;
@max-height: 100vh;

@size-padding-large: 32px;
@size-padding: 16px;
