// Colors
@background-color: #ffffff;
@color-shadow-lighter: #fbfbfb;
@color-shadow-light: #f8f8f8;

@color-secondary: #484a48;
@color-secondary-dark: #3B3D3B;
@color-secondary-darker: #000000;

@color-highlight-lightest: #fbfff8;
@color-highlight-lighter: #f7fff4;
@color-highlight-light: #e5ffdf;
@color-highlight-medium: #c7ffb2;
@color-highlight: #5fc640;
@color-highlight-dark: #47af2d;
@color-highlight-darker: #3c9825;
@color-highlight-darkest: #2d731c;

// Transition
@transition: ease-in-out 0.3s;

// Shadows
@shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
@shadow-small: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.3);

// Sizes
@max-width: 1200px;
@max-height: 100vh;

@size-padding-small: 8px;
@size-padding: 16px;
@size-padding-large: 32px;

@font-size-small: 14px;
@font-size: 16px;
@font-size-large: 26px;
